{{!-- <div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        on
        {{formatDate createdAt}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div> --}}

<div class="card my-3 border-dark shadow-sm">
  <div class="card-header bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title m-2">Comments</h5>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {{#each this}}
        <li class="list-group-item">
          <p>
            {{user.username}}
            on
            {{formatDate createdAt}}
          </p>
          <p>{{comment_text}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>